{% extends 'demo1/base.html' %}
{% load static %}

{% block content %}
<div class="container-fixed max-w-2xl">
    <div class="card p-5">
        <div class="card-header">
            <h3 class="card-title text-2xl font-bold">{{ question.question_text }}</h3>
        </div>
        
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <div class="card-body mt-3">
                {% if error_message %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Oops!</span> {{ error_message }}
                </div>
                {% endif %}

                <div class="flex flex-col gap-4">
                    {% for choice in question.choice_set.all %}
                    <label class="flex items-center p-4 border border-gray-200 rounded cursor-pointer hover:bg-gray-50 transition">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="form-radio h-5 w-5 text-primary border-gray-300 focus:ring-primary me-3">
                        <span class="ml-3 text-gray-700 font-medium">{{ choice.choice_text }}</span>
                    </label>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer d-flex justify-between mt-3 align-items-center">
                <a href="{% url 'polls:index' %}" class="kt-btn kt-btn-ghost btn btn-secondary">
                    Kembali
                </a>

                <button type="submit" class="kt-btn kt-btn-ghost kt-btn-primary">
                    <i class="ki-filled ki-check me-2"></i> Kirim Vote
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}